body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: radial-gradient(circle at 30% 30%, rgba(255, 204, 112, 0.3), transparent 15%),
        /* oren */
        radial-gradient(circle at 60% 20%, rgba(255, 128, 128, 0.1), transparent 10%),
        /* merah */
        radial-gradient(circle at 70% 60%, rgba(150, 255, 150, 0.3), transparent 15%),
        /* hijau */
        radial-gradient(circle at 20% 70%, rgba(100, 150, 255, 0.3), transparent 10%),
        /* biru */
        radial-gradient(circle at 90% 10%, rgba(255, 204, 112, 0.3), transparent 10%);
    /* oren */
}

main {
    font-size: 16px;
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(../img/logo.png);
    background-size: cover;
    border-radius: 50%;
}

header {
    box-shadow: rgba(30, 29, 27, 0.08) 0px 1px 0px 0px;
}

nav {
    display: flex;
}

nav>a {
    padding: 8px;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
}

nav>a:hover {
    color: rgba(0, 0, 0, 1);
}

img {
    object-fit: cover;
}

.blur {
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    filter: unset;
}

.drop-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hover-effect:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.hover-effect:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease;
}